.btn {
    align-self: center;
    border-color: black;
    border-radius: 15px;
    min-height: 43px;
    border-width: 1px;
    color: black;
    background-color: white;
    min-width: 178px;
    cursor: pointer;
    font-size: .9em;
    padding-left: 10px;
    padding-right: 10px;
}

.answerBtn {
    width: 100%;
}

.navigateBtn {
    margin-top: 30px;
}

.tryAgaingBtn {
    margin-top: 25px;
    width: unset;
}

.btn:disabled {
    opacity: .5;
    cursor: auto;
}

