.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    width: 70%;
}

.imageContainer > img {
    width: 100%;
    height: 100%;
    border-radius: 3px;

}
.heading {
    margin: 5px 0 15px 0;
    text-align: center;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;

}

.tickIcon {
    margin-top: 120px;
    fill: rgb(38, 195, 38);
}

.crossIcon {
    margin-top: 120px;
    fill: rgb(223, 17, 31);
}

.replyComment {
    margin-bottom: 110px;
}