.main {
  width: 92.5%;
  background-color: white;
  border-radius: 3px;
  margin-top: 17px;
  flex-grow: 0.6;
  min-height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.7%;
}

.loader {
  margin-top: 150px;
}

.footer {
  margin-top: auto;
  align-self: flex-start;
}

.scores {
  margin-top: 12px;
}