.heading {
    display: inline;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

.subHeading {
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}