.container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.input {
    width: 100%;
    max-width: 350px;
    padding: 10px 5px;
    margin: 30px 0 40px 0;
    border: 1px solid rgba(100, 100, 100, 0.9);
    border-radius: 3px;
}

.input:focus {
    border: 0px;
    outline: 1px solid rgba(3, 27, 100, 0.7);
}